* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.homepage-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--bg-color);
}
