* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.webtitle {
  font-family: serif;
  font-size: 2rem;
  padding-left: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-container {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding: 12px 12px;
  /* padding-top: 18px;
    padding-bottom: 18px; */
  z-index: 2;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); */
  border-bottom: solid var(--border-color) 1px;
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* background: white; */
  /* position: relative; */
}

.navigation-container a {
  color: var(--text-color);
}

.profile-dropdown {
  position: absolute;
  right: 2px;
  top: 55px;
  background-color: var(--dropdown-bg);
  border: solid black 1px;
  max-width: 270px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-shadow: var(--dropdown-shadow);
  border-radius: 4px;
  border: 0px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.search-icon,
.admin-icon,
.write-icon,
.logout-icon,
.profile-icon {
  height: 24px;
  width: 24px;
}

.profile-container {
  display: flex;
}

.write-btn {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-right: 32px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.write-btn-dropdown,
.write-btn,
.sign-out-btn,
.admin-portal-btn,
.profile-btn {
  color: var(--secondary-color);
}

.admin-portal-btn:hover,
.write-btn-dropdown:hover,
.write-btn:hover,
.sign-out-btn:hover,
.profile-btn:hover {
  color: var(--secondary-hover-color);
}
.profile-dropdown-list > li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 18px;
  /* padding-bottom: 6px; */
  gap: 24px;
  cursor: pointer;
}

.profile-dropdown-list > li:hover {
  background-color: var(--dropdown-item-hover);
}

.profile-dropdown-list li:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.profile-dropdown-list li:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.nav-profile {
  height: 40px;
  width: 40px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-pp {
  height: 41px;
  width: 41px;
  border: 0px;
  border-radius: 50%;
}

.sun-icon,
.moon-icon {
  height: 25px;
  width: 25px;
}

.toggle-theme-btn-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.toggle-theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: 0px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

li.write-btn-dropdown {
  display: none;
}
/* This is for the bottom nav */
/* @media (max-width: 960px) {
    .navigation-container {
      display: none !important;
    }
  } */

.search-icon {
  color: var(--secondary-color);
}

.navigation-container .search-container {
  margin-right: auto;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: var(--dialog-input-bg);
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 24px;
  width: 100%;
  max-width: 240px;
  margin-left: 24px;
}

.post-search-input {
  outline: none;
  background-color: transparent;
  text-align: start;
  padding-left: 12px;
  width: 100%;
  color: var(--comment-input-text);
  /* background-color: red; */
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px;
  color: var(--secondary-color);
  display: none;
}

.search-btn.hidden,
.search-container.hidden {
  display: none;
}

@media (max-width: 460px) {
  /* .navigation-container .search-container {
      margin-left: auto;
      margin-right: 0px;
    }
    .post-search-input {
      display: none;
    }
    .search-container {
      padding: 0px;
      width: fit-content;
      height: fit-content;
      background-color: transparent;
    } */
  .search-btn {
    display: flex;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
  }
  /* .search-btn:hover {
      color: red;
    } */
  .search-container {
    display: none;
  }
  .navigation-container .search-btn {
    margin-left: auto;
    margin-right: 18px;
  }
}

@media (max-width: 720px) {
  .toggle-theme-btn {
    margin-right: 24px;
  }
  .profile-dropdown-list > li.write-btn-dropdown {
    display: flex;
  }
  .write-btn {
    display: none;
  }
}

@media (max-width: 500px) {
  .webtitle {
    padding-left: 0px;
    font-size: 1.8rem;
  }
  .nav-profile {
    height: 30px;
    width: 30px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon,
  .admin-icon,
  .write-icon,
  .logout-icon,
  .profile-icon {
    height: 24px;
    width: 24px;
  }
  .write-btn {
    font-size: 1rem;
    margin-right: 18px;
  }

  .profile-dropdown {
    max-width: 230px;
    width: 100%;

    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .profile-dropdown.active {
    transform: translateY(-10px);
  }
}
