@font-face {
  font-family: "Arial Black";
  src: url("../assets/font/ARIBLK.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.post-head-container {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 750px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.post-title-head {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  font-family: "Arial Black";
  word-break: break-word;
}

.author-and-post-info {
  display: flex;
  width: 100%;
  align-items: center;
  /* max-width: 750px; */
  /* padding-left: 24px; */
  /* padding-right: 24px; */
}

.left-head {
  height: 60px;
  width: 60px;
  margin: 12px;
  margin-right: 0px;
  transform: translateX(-12px);
}

.profile-pict {
  height: 55px;
  width: 55px;
  padding: 0px;
  border-radius: 50%;
  /* object-fit: cover !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
}

.post-info {
  display: flex;
  font-size: 1rem;
  color: gray;
  gap: 8px;
}

.post-author {
  width: fit-content;
  border-bottom: solid transparent 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.post-author:hover {
  border-bottom: solid black 1px;
  cursor: pointer;
}

.r-h-flex {
  display: flex;
  gap: 6px;
  align-items: center;
}

.follow-btn {
  background-color: transparent;
  border: 0px;
  font-family: "Times New Roman", Times, serif;

  cursor: pointer;
  padding: 0px;
  display: flex;
  gap: 6px;
  height: fit-content;
}

.follow-text {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.follow-text {
  border-bottom: solid transparent 1px;
}

.follow-text.follow {
  border-bottom: solid black 1px;
}

.right-head {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post-end {
  margin-left: auto;
  display: flex;
  /* position: relative; */
}

.post-like,
.post-bookmark,
.post-options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border: solid transparent 1px;
  border-radius: 50%;
}

.post-options {
  position: relative;
}

.post-like:hover,
.post-bookmark:hover {
  background-color: #e5e5e5;
  border: solid 1px #e5e5e5;
}
.post-like-icon,
.post-bookmark-icon,
.post-options-icon {
  height: 25px;
  width: 25px;
}

.report-post-icon {
  height: 20px;
  width: 20px;
}
.edit-post-icon {
  height: 19px;
  width: 19px;
}

.edit-post {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #1a8917;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

.report-post {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #c94a4a;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

.report-post:hover {
  color: red;
}

.post-options-dropdown {
  position: absolute;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  top: 32px;
  width: 150px;
  left: 80%;
  transform: translateX(-100%);

  flex-direction: column;
  padding: 12px;
  gap: 12px;
  padding-left: 24px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  opacity: 0;
  display: none;
}

.post-options-dropdown.active {
  opacity: 1;
  display: block;
}

@media (max-width: 470px) {
  .post-like-icon,
  .post-bookmark-icon,
  .post-options-icon {
    height: 20px;
    width: 20px;
  }
  .left-head {
    height: fit-content;
    width: fit-content;
    margin: 12px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-12px);
  }

  .profile-pict {
    /* height: 20px !important;
    width: 20px !important; */
    padding: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    height: 45px;
    width: 45px;
  }

  .follow-text,
  .post-author {
    font-size: 0.8rem;
  }

  .time-to-read,
  .post-date {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .author-and-post-info {
    padding-left: 0px;
    padding-right: 0px;
  }
  .profile-pict {
    height: 50px;
    width: 50px;
    padding: 0px !important;
    border-radius: 50%;
    /* object-fit: cover !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
  }
}
