@font-face {
  font-family: "Arial Black";
  src: url("../assets/font/ARIBLK.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.post-head-container {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 750px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.post-title-head {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  font-family: "Arial Black";
  word-break: break-word;
}

.author-and-post-info {
  display: flex;
  width: 100%;
  align-items: center;
  /* max-width: 750px; */
  /* padding-left: 24px; */
  /* padding-right: 24px; */
}

.left-head {
  height: 60px;
  width: 60px;
  margin: 12px;
  transform: translateX(-12px);
}

.profile-pict {
  height: 60px !important;
  width: 60px !important;
  padding: 0px !important;
  border-radius: 50%;
  /* object-fit: cover !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: red;
}

.post-info {
  display: flex;
  font-size: 1rem;
  color: gray;
  gap: 8px;
}

.post-author {
  width: fit-content;
  border-bottom: solid transparent 1px;
}
.post-author:hover {
  border-bottom: solid black 1px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .author-and-post-info {
    padding-left: 0px;
    padding-right: 0px;
  }
  .profile-pict {
    height: 50px !important;
    width: 50px !important;
    padding: 0px !important;
    border-radius: 50%;
    /* object-fit: cover !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
  }
}
