* {
  -webkit-tap-highlight-color: transparent;
}
.blog-post-container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  font-size: 1.3rem;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.liner {
  border-bottom: solid var(--border-color) 1px;
  width: 100%;
}

.blog-post-container
  img:not(
    .profile-pict,
    .profile-pict-cs,
    .user-comment-profilepicture,
    .user-comment-profilepicture-subcomment
  ) {
  max-width: 100%;
  max-height: calc(100vh - 20px);
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  padding: 12px;
}

.post-search-input {
  display: none;
}
.post-container {
  max-width: 750px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: justify;
  word-break: break-word;
  color: var(--text-color);
}
.post-container h1 {
  margin-bottom: 0.8em;
  margin-top: 0.2em;
  color: var(--text-color);
}
.post-container p {
  margin-bottom: 1em;
  color: var(--text-color);
}
.post-container li {
  margin-left: 18px;
  color: var(--text-color);
}

.post-container a {
  color: var(--text-color);
}

.post-container pre {
  font-size: 0.85rem;
  line-height: 1.4;
  padding: 0.75rem;
  overflow: auto;
}

.post-container code {
  font-size: inherit;
  font-family: "Fira Code", monospace;
}

@media (max-width: 500px) {
  .blog-post-container
    img:not(
      .profile-pict,
      .profile-pict-cs,
      .user-comment-profilepicture,
      .user-comment-profilepicture-subcomment
    ) {
    max-width: 100%;
    max-height: calc(100vh - 20px);
    height: auto;
    /* object-fit: contain; */
    display: block;
    margin: 0 auto;
    padding: 12px;
  }
  .blog-post-container {
    font-size: 1.2rem;
    /* line-height: 1.5; */
  }
  .post-container {
    max-width: 100%;
  }
}
