@font-face {
  font-family: "Arial Black";
  src: url("../assets/font/ARIBLK.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.post-head-container {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 750px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.post-title-head {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  font-family: "Arial Black";
  word-break: break-word;
}

.author-and-post-info {
  display: flex;
  width: 100%;
  align-items: center;
  /* max-width: 750px; */
  /* padding-left: 24px; */
  /* padding-right: 24px; */
}

.left-head {
  height: 60px;
  width: 60px;
  margin: 12px;
  margin-right: 0px;
  transform: translateX(-12px);
}

.profile-pict {
  height: 55px;
  width: 55px;
  padding: 0px;
  border-radius: 50%;
  /* object-fit: cover !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
}

.post-info {
  display: flex;
  font-size: 1rem;
  color: gray;
  gap: 8px;
}

.post-author {
  width: fit-content;
  border-bottom: solid transparent 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.post-author:hover {
  border-bottom: solid black 1px;
  cursor: pointer;
}

.r-h-flex {
  display: flex;
  gap: 6px;
  align-items: center;
}

.follow-btn {
  background-color: transparent;
  border: 0px;
  font-family: "Times New Roman", Times, serif;

  cursor: pointer;
  padding: 0px;
  display: flex;
  gap: 6px;
  height: fit-content;
}

.follow-text {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.follow-text {
  border-bottom: solid transparent 1px;
}

.follow-text.follow {
  border-bottom: solid black 1px;
}

.right-head {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post-end {
  margin-left: auto;
  display: flex;
  /* position: relative; */
}

.post-like,
.post-bookmark,
.post-options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border: solid transparent 1px;
  border-radius: 50%;
}

.post-options {
  position: relative;
}

.post-like:hover,
.post-bookmark:hover {
  background-color: #e5e5e5;
  border: solid 1px #e5e5e5;
}
.post-like-icon,
.post-bookmark-icon,
.post-options-icon {
  height: 25px;
  width: 25px;
}

.report-post-icon {
  height: 20px;
  width: 20px;
}
.edit-post-icon {
  height: 19px;
  width: 19px;
}

.edit-post {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #1a8917;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  /* background-color: red; */
}

.report-post {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #c94a4a;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

.report-post:hover {
  color: red;
}

.post-options-dropdown {
  position: absolute;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  top: 32px;
  width: 150px;
  left: 80%;
  transform: translateX(-100%);
  cursor: default;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  padding-left: 24px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  opacity: 0;
  display: none;
}

.post-options-dropdown.active {
  opacity: 1;
  display: block;
}

.post-report-ctr {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.post-report-ctr.active {
  /* background-color: rgba(255, 255, 255, 0.96); */
  opacity: 1;
  display: flex;
  /* pointer-events: auto; */
}

.report-form {
  padding: 50px;
  background-color: white;
  opacity: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: fit-content;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 12px;
  /* align-items: center; */
  justify-content: space-between;
  position: relative;
  overflow-y: auto;
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.report-form.active {
  opacity: 100%;
  transform: translateY(0);
  pointer-events: auto;
}

.r-i-ctr {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.1rem;
  padding-top: 6px;
  padding-bottom: 6px;
}

.report-radio {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.r-i-ctr > label {
  cursor: pointer;
}

.report-post-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.additional-info-txt {
  width: 100%;
  resize: none;
  height: fit-content;
  padding: 12px;
  background-color: #e8e8e8;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  outline: none;
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
}

.additional-info-ctr {
  margin-top: 6px;
  margin-bottom: 6px;
}

.add-info-text {
  font-size: 1.1rem;
}

.submit-report-btn-ctr {
  /* background-color: red; */
  display: flex;
  justify-content: end;
  gap: 12px;
  padding: 12px;
}

.cancel-report-btn {
  background-color: transparent;
  border-radius: 24px;
  padding: 9px 16px 9px;
  border: solid 1px red;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.submit-report-btn {
  background-color: transparent;
  border-radius: 24px;
  padding: 9px 16px 9px;
  border: solid 1px #156d12;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #156d12;
}

.cancel-report-btn:hover {
  background-color: red;
  color: white;
}

.submit-report-btn:hover {
  background-color: #156d12;
  color: white;
}

@media (max-width: 470px) {
  .report-form {
    padding: 25px;
  }
  .r-i-ctr {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .report-radio {
    height: 15px;
    width: 15px;
  }

  .report-post-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
  }

  .post-like-icon,
  .post-bookmark-icon,
  .post-options-icon {
    height: 20px;
    width: 20px;
  }
  .left-head {
    height: fit-content;
    width: fit-content;
    margin: 12px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-12px);
  }

  .profile-pict {
    /* height: 20px !important;
    width: 20px !important; */
    padding: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    height: 45px;
    width: 45px;
  }

  .follow-text,
  .post-author {
    font-size: 0.8rem;
  }

  .time-to-read,
  .post-date {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .author-and-post-info {
    padding-left: 0px;
    padding-right: 0px;
  }
  .profile-pict {
    height: 50px;
    width: 50px;
    padding: 0px !important;
    border-radius: 50%;
    /* object-fit: cover !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
  }
}
