.profile-page-container {
  display: flex;
  justify-content: center;
  padding: 24px;
  padding-right: 0px;
}

.about-container {
  min-height: 90vh;
  /* height: fit-content; */
  /* background-color: red; */
}

.left-ctr {
  max-width: 820px;
  width: 100%;
  height: fit-content;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.right-ctr {
  max-width: 400px;
  /* background-color: rebeccapurple; */
  width: 100%;
  /* background-color: purple; */
  border-left: solid #f2f2f2 1px;
  transform: translateY(-24px);
}

.username {
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 24px;
}

.user-nav {
  border-bottom: solid #f2f2f2 1px;
  display: flex;
  gap: 24px;
  max-width: 700px;
}

.home-btn-ctr,
.about-btn-ctr {
  padding-top: 12px;
  padding-bottom: 12px;
}

.home-btn,
.about-btn {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 0px;
  color: #6b6b6b;
  background-color: transparent;
  padding: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

.home-btn.active,
.about-btn.active {
  color: black;
}

.home-btn:hover,
.about-btn:hover {
  color: black;
}

.postcard-container-profile {
  display: flex;

  /* background-color: red; */
  /* max-width: 100%; */
  width: 100%;
  /* width: 1000px; */
  /* border-bottom: solid rgba(0, 0, 0, 0.1) 1px; */
  padding-bottom: 22px;
  padding-top: 22px;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 0px;
  flex-grow: 1;
}

.postcard-flex {
  display: flex;
  max-width: 700px;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

.postcard-parent-ctr {
  display: flex;
  width: 100%;
}

.user-post-dropdown-ctr {
  padding: 12px;
  margin-left: 24px;
}

.user-post-dropdown-btn {
  background-color: transparent;
  border: 0px;
}
.top-p {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* gap: 32x; */
  align-items: center;
}

.right-p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  background-size: cover;
  background-position: center;
  width: 170px;
  height: 120px;
  margin-left: 12px;
}

.post-title-p {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  flex-wrap: wrap;
  max-width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  /* padding-left: 12px; */
  padding-right: 12px;
}

.post-subtext-p {
  padding-top: 6px;
  font-size: 1.3rem;
  /* padding-left: 12px; */
  padding-right: 12px;
}

.bottom-p {
  padding-top: 32px;
}

.left-info-p {
  display: flex;
  gap: 18px;
  font-size: 0.9rem;
  opacity: 70%;
}

.mobile-profile {
  display: none;
}

.posts {
  width: 100%;
  min-height: 90vh;
}

.comment-p {
  display: flex;
  align-items: center;
  gap: 6px;
}

.comment-icon {
  height: 18px;
  width: 18px;
}

.date-p {
  display: flex;
  align-items: center;
}

.side-profile-ctr {
  position: sticky;
  top: 64px;
  /* top: 32px; */
  padding: 32px;
}

.side-profile-pict {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: transparent;
}

.side-profile-username {
  color: #6b6b6b;
  font-size: 0.9rem;
  font-weight: 100;
}

.user-full-name {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 1rem;
}

.user-follower-count {
  display: block;
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 1rem;
  color: #6b6b6b;
  font-family: Arial, Helvetica, sans-serif;
}

.user-biography {
  line-height: 1.4;
  font-size: 0.9rem;
  color: #6b6b6b;
  font-family: Arial, Helvetica, sans-serif;
}

.edit-profile-btn {
  background-color: transparent;
  border: 0px;
  margin-top: 18px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 0.9rem;
  color: #1a8917;
}

.edit-profile-btn:hover {
  color: black;
}

.update-profile-ctr {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.update-profile-ctr.active {
  /* background-color: rgba(255, 255, 255, 0.96); */
  opacity: 1;
  display: flex;
  /* pointer-events: auto; */
}

.profile-form {
  padding: 50px;
  background-color: white;
  opacity: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: fit-content;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-y: auto;
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile-form.active {
  opacity: 100%;
  transform: translateY(0);
  pointer-events: auto;
}

.close-dialog-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  opacity: 50%;
}

.close-dialog-btn:hover {
  opacity: 100%;
}

.x-logo {
  height: 24px;
  width: 24px;
}

.form-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.pp {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.pp-btn {
  border-radius: 50%;
  height: fit-content;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.pp-ctr {
  display: flex;
}

.full-name {
  text-align: start;
  padding: 12px;
  border-radius: 4px;
}

.biography {
  width: 100%;
  border-radius: 4px;

  height: 200px;
  overflow-y: auto;
  resize: none;
  flex-direction: start;
  background-color: #f2f2f2;
  border: 0px;
  padding: 12px;
}

.biography:focus {
  background-color: white;
}

.profile-form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.form-container {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-form-input > label {
  /* margin-top: 4px; */
  padding-bottom: 12px;
  transform: translateY(5px);
  font-size: 0.9rem;
}

.form-btn-ctr {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 12px;
}

.length-indicator {
  font-family: "Times New Roman", Times, serif;
  justify-content: flex-end;
  display: flex;
  font-size: 0.9rem;
  transform: translateY(-1px);
}

.max-length {
  color: #6b6b6b;
}

.pp-update-btn-ctr {
  display: flex;
  gap: 12px;
  padding-left: 6px;
}

.update-pp-btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: #1a8917;
}

.remove-pp-btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: #c94a4a;
}

.cancel-update-btn,
.save-update-btn {
  background-color: transparent;
  border-radius: 24px;
  padding: 9px 16px 9px;
  border: solid 1px #156d12;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn-ctr {
  margin-top: 12px;
}

.cancel-update-btn {
  color: #156d12;
}
.save-update-btn {
  background-color: #156d12;
  color: white;
}

.save-update-btn.inactive {
  opacity: 90%;
}
.user-side-follow-btn {
  background-color: transparent;
  border: solid #156d12 1px;
  color: #156d12;
  border-radius: 24px;
  padding: 9px 16px 9px;
  margin-top: 24px;
  cursor: pointer;
}

.user-side-follow-btn.unfollow {
  color: white;
  background-color: #156d12;
  border-radius: 24px;
  padding: 9px 16px 9px;
}

.no-about-container,
.no-post-container {
  display: flex;
  /* height: 60vh; */
  height: 400px;
  /* background-color: red; */
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
  padding: 24px;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.no-about-big-text,
.no-post-big-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.no-about-small-text,
.no-post-small-text {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
}

.sub-small-text {
  display: flex;
  gap: 4px;
}

.start-writing {
  cursor: pointer;
  color: #1a8917;
}

.user-post-dropdown-ctr {
  position: relative;
}

.user-post-dropdown {
  position: absolute;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  top: 32px;
  width: 160px;
  left: 80%;
  transform: translateX(-100%);

  flex-direction: column;

  /* gap: 12px; */
  border-radius: 3px;
  background-color: white;
  display: flex;
  opacity: 0;
  display: none;
}

.user-post-dropdown.active {
  opacity: 1;
  display: flex;
}

.publish-user-post,
.edit-user-post,
.delete-user-post {
  padding: 12px;
  padding-left: 24px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.edit-user-post:hover {
  color: rgb(17, 213, 17);
}
.delete-user-post:hover {
  color: red;
}

.publish-user-post-icon,
.delete-user-post-icon,
.edit-user-post-icon {
  height: 19px;
  width: 19px;
}

.publish-user-post {
  color: #00bcff;
}

.delete-user-post {
  color: #c94a4a;
}

.edit-user-post {
  color: #1a8917;
}

@media (max-width: 500px) {
  .user-post-dropdown-ctr {
    margin-left: 0px;
  }

  .user-full-name {
    font-size: 0.8rem;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .side-profile-username {
    font-size: 0.7rem;
  }
  .profile-page-container {
    padding: 12px;
  }
  .user-follower-count {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }
  .user-biography {
    font-size: 0.7rem;
  }
  .post-title-p {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }

  .post-subtext-p {
    padding-top: 6px;
    font-size: 0.7rem;
  }
  .right-p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    background-size: cover;
    background-position: center;
    width: 140px;
    height: 90px;
  }
  .left-info-p {
    font-size: 0.7rem;
  }
  .comment-icon {
    height: 12px;
    width: 12px;
  }
  .side-profile-pict {
    height: 60px;
    width: 60px;
  }
  .user-side-follow-btn {
    margin-top: 18px;
  }
  .left-ctr {
    padding-top: 12px;
  }
}

@media (max-width: 900px) {
  .left-ctr {
    padding-top: 12px;
  }
  .profile-page-container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .postcard-container-profile {
    width: 100% !important;
    display: flex;
    max-width: 100% !important;
  }

  .side-profile-ctr {
    padding: 0px;
    margin-bottom: 24px;
  }

  .right-ctr {
    display: none;
  }

  .mobile-profile {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
  }
  .username {
    display: none;
  }
}
